{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "none",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "htmlWhitespaceSensitivity": "css",
  "endOfLine": "lf"
}