:root {
  --font-family-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  --color-light: #fff;
  --color-dark: #000;
  --color-secondary: #3F4958;
  

  --background-app: #343D4B;
  --background-base: #222831;
  --background-card-base: #272E37;
  --background-card-active: #3A434F;
  --background-card-hover: #3A434F;

  --gradient-base: linear-gradient(91deg, rgba(144, 217, 224, 0.90) 0.2%, rgba(84, 96, 230, 0.90) 100%);
  --gradient-hover: linear-gradient(256deg, rgba(144, 217, 224, 0.90) 9.04%, rgba(84, 96, 230, 0.90) 92.2%);

  --shadow-base: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  --border-radius-large: 30px;
  --border-radius-medium: 10px;
}